.ProjectCard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.ProjectCard img{
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

.InnerDiv{
    display: flex;
    flex-direction: column;
}