.AboutMe {
    margin-left: 300px;
    display: block;
    
}

.AboutMe p{
    margin: 0 auto 0 auto;
    width: 650px;
}

.AboutMe h1{
    text-align: left;
}

.AboutMe a,
.AboutMe a:hover,
.AboutMe a:active,
.AboutMe a:visited{
    text-decoration: none;
    color: #b2ddca;
}